# bumps specific ignores
bumps/webview/client/node_modules/
bumps/webview/client/dist

# virtual environment
venv/
env/
.venv/
.env/

# lockfiles
uv.lock
bun.lock

# Eclipse/pycharm settings files
.idea
.project
.pydevproject

# editor backup files
*.swp
*~
*.bak

# build/test
.settings
.coverage
/build/
/dist/
/bumps.egg-info/
bumps.iss-include
iss-version
bumps/_version.py

# doc targets
/doc/_build/
/doc/api/
/doc/tutorial/
/doc/dream/
/doc/server/

# python droppings from running in place
__pycache__/
*.pyc
*.pyo
*.so
*.pyd
*.dll
*.dyld

# run in place sets .mplconfig
.mplconfig
