name: Publish Package to npmjs
on:
  push:
    # Pattern matched against refs/tags
    tags:
      - 'client-v*'           # Push events to every tag like client-v0.6.15
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v5
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: |
          cd bumps/webview/client
          npm i
          npm run build_prod
      - run: cd bumps/webview/client && npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
